@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");

/* ====== VARIABLES/MISCELLANEOUS ======= */
$font-base: "Maven Pro", sans-serif;
$body-font-size: 18px;
$h1-font-size: 2.8em;
$h2-font-size: 2.4em;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-light: 300;

$text-white: #ffffff;
$dark-mode-color: #252525;
$main-color: #adcaff;

$light-main: #8de2a2;
$dark-main: #8882d4;
// Shades of white
$white-d-2: darken(
  $color: white,
  $amount: 2,
);
$white-d-5: darken(
  $color: white,
  $amount: 5,
);
$white-d-10: darken(
  $color: white,
  $amount: 10,
);
$white-d-20: darken(
  $color: white,
  $amount: 20,
);
// Shades of black
$black-l-40: lighten(
  $color: black,
  $amount: 40,
);
$black-l-30: lighten(
  $color: black,
  $amount: 30,
);
$black-l-20: lighten(
  $color: black,
  $amount: 20,
);
$black-l-10: lighten(
  $color: black,
  $amount: 10,
);

$border-color: #f2f2f1;
$button-color: #5a5770;

$small-font-size: 14px;
$link-font-size: 16px;

@mixin transition-effect {
  transition: all 0.4s ease;
}

body {
  font-family: $font-base;
  background-color: $white-d-2;
  transition: background-color 0.5s ease;
  color: $black-l-10;
}

.full-screen {
  padding: 5rem 0;
}

.small-text {
  font-size: $small-font-size;
  font-weight: $font-weight-bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: center;
    justify-items: center;
    list-style: none;
  }
}

a {
  color: lighten($color: $dark-mode-color, $amount: 5) !important;
  font-size: $link-font-size;
  font-weight: $font-weight-normal;
  text-decoration: none !important;
  @include transition-effect;

  &:hover {
    color: $dark-main !important;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pointer {
  cursor: pointer;
}

/* ============ TYPO =========== */

p {
  color: $black-l-30;
  font-size: $body-font-size;
  font-weight: $font-weight-light;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black-l-20;
  font-weight: $font-weight-bold;
  letter-spacing: -1px;
}

h1 {
  font-size: $h1-font-size;
  margin: 24px 0;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
}

h3,
b,
strong {
  font-weight: $font-weight-bold;
}

.transition {
  @include transition-effect;
}

.iconify {
  margin-bottom: 5px;
}

/* ============ WAVE BACKGROUND =========== */

#wave {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-width: 1500px;
  height: 100%;

  svg {
    stroke: none;
    fill: lighten($color: $light-main, $amount: 10);
    // filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
  }
}

.vertical-wave {
  position: absolute;
  right: -15%;
  top: -100px;
  svg {
    stroke: none;
    fill: lighten($color: $dark-main, $amount: 20);
  }
}

.horizontal-wave {
  position: absolute;
  right: -15%;
  bottom: -5%;
  svg {
    stroke: none;
    fill: lighten($color: $dark-main, $amount: 20);
  }
}

/* =========== CUSTOM BUTTON =========== */
.custom-btn {
  font-weight: $font-weight-bold;
  padding: 4px 29px 5px 29px;
  font-size: $small-font-size;
  line-height: normal;
  overflow: hidden;
  cursor: pointer;
  @include transition-effect;

  &.custom-btn-bg {
    background: $button-color;
    color: $text-white;
    &:hover {
      background: $dark-main;
      color: $text-white !important;
    }
  }
}

.btn-overlay {
  &:hover {
    color: inherit !important;
    background-color: transparentize($color: $black-l-20, $amount: 0.9);
    border-radius: 3px;
  }
}
/* ============ CARD =============== */
.mat-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  width: 100%;
  background-color: white;
}
.text-in-card {
  width: 75%;
  color: $black-l-30;
}
/* ============ ANIMATED TEXT =========== */

.animated {
  position: relative;
  @include transition-effect;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  position: relative;
}

.animated-item {
  color: $dark-main;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;

  &:nth-child(2n + 2) {
    animation-delay: 2s;
  }

  &:nth-child(3n + 3) {
    animation-delay: 4s;
  }
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    transform: translateY(5px);
  }

  10% {
    opacity: 1;
    transform: translateY(0px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  30% {
    opacity: 0;
    transform: translateY(5px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* ============ NAV BAR =========== */

#bar {
  height: 65px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  &[class*="-pinned"] {
    background-color: lighten($color: $light-main, $amount: 10);
  }

  &[class*="headroom--not-top"] {
    background-color: $white-d-2;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid #f0f0f0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-brand {
  font-weight: $font-weight-bold;
  font-size: 30px;
}

.navbar-expand-sm {
  .navbar-nav {
    .nav-link {
      padding: 0 20px;
      margin: auto;
    }
  }
}

.nav-link {
  font-weight: $font-weight-bold;
  font-size: 16px;
  overflow: hidden;
}

.navbar-light {
  .navbar-nav {
    .nav-link:focus,
    .nav-link:hover {
      color: $main-color;
      font-weight: $font-weight-bold;
    }
  }
}

/* ============ NAVBAR MOBILE VERSION =========== */

#side-bar {
  display: none;
  position: absolute;
  top: 0;
  right: -85vw;
  background-color: lighten($color: $dark-main, $amount: 15);
  box-shadow: -13px 0px 59px -50px rgba(0, 0, 0, 1);
  height: 100vh;
  width: 85vw;
  transition: all 0.1s linear;
}

#menu {
  cursor: pointer;
  z-index: 10;
  display: flex;

  svg {
    margin: auto;
  }
}

/* ================ Footer =============== */

#footer {
  width: 100%;
  box-shadow: 0px -1px 5px -2px rgba(0, 0, 0, 0.4);
  background-color: $white-d-5;
  padding: 5px 20px;
  #heart {
    color: $dark-main;
  }
}

/* ============== TOOLTIP ================ */

.tipped {
  display: inline-block;
}

.tipped {
  position: relative;
  cursor: pointer;

  &:hover .tt {
    animation-name: tooltip-reveal;
    opacity: 1;

    // Optional "bottom" direction
    &.tt-bottom {
      animation-name: tooltip-reveal-bottom;
    }
  }
}

.tt {
  font-size: 10px;
  line-height: 22px;
  color: $black-l-20;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  opacity: 0;
  background-color: $white-d-5;

  padding: 0 8px;
  height: 22px;
  overflow: hidden;
  display: inline-block;

  position: absolute;
  left: 50%;
  top: -25px;

  pointer-events: none;

  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 300ms;

  // Optional "bottom" direction
  &.tt-bottom {
    bottom: -20px;
    top: auto;
  }
}
.question-icon {
  margin-top: 3px;
}

/* ============ DARK MODE =========== */

.theme-button {
  cursor: pointer;
}

.dark-mode {
  background: $dark-mode-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-white;
  }

  a {
    color: darken($color: white, $amount: 5) !important;
    &:hover {
      color: $light-main !important;
    }
  }

  #wave {
    svg {
      fill: $dark-main;
    }
  }

  .vertical-wave,
  .horizontal-wave {
    svg {
      fill: $dark-main;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    &:hover {
      color: $main-color;
    }
  }

  .navbar {
    &[class*="headroom--not-top"] {
      // box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.12);
      border-bottom: none;
    }
    background-color: $dark-main;
  }

  .navbar {
    &[class*="headroom--not-top"] {
      background: $black-l-30;
      // border-bottom: 1px solid #1f1f1f;
    }
    .navbar-nav,
    .nav-link,
    .navbar-brand {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  #side-bar {
    background-color: $black-l-20;
  }

  #menu {
    svg {
      color: $border-color;
    }
  }

  .animated-item {
    color: lighten($color: $light-main, $amount: 5);
  }

  .about-text {
    p {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .theme-button {
    color: white;
  }

  .custom-btn-bg:hover {
    background: darken($color: $button-color, $amount: 10);
  }

  .mat-card {
    color: white;
    background-color: $black-l-20;
  }

  .text-in-card {
    color: $white-d-5;
  }

  .btn-overlay {
    color: $white-d-5;
    &:hover {
      color: $white-d-2 !important;
    }
  }

  .tt {
    color: $white-d-5;
    background-color: $black-l-40;
  }

  #footer {
    color: white;
    background-color: $black-l-20;
    #heart {
      color: $light-main;
    }
  }
}

/* ============ RESPONSIVENESS =========== */

@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }
  .text-in-card {
    width: 85%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .navbar-nav .nav-link {
    padding: 3px 20px;
  }

  .animated-text,
  .animated-item {
    font-size: 40px !important;
  }

  .animated-info {
    width: 325px;
  }

  .about-text {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }
}

@media (max-width: 580px) {
  h2 {
    font-size: 2em;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }
  .text-in-card {
    width: 90%;
  }
}
